In [1]:
import pandas as pd
import numpy as np
from data_processing import clean_data as cd

In [2]:
df = pd.read_csv('../data_sources/valeursfoncieres-2015.txt', sep='|')
df.head()

,Code service CH,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,05/01/2015,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,P,NaN,82.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,09/01/2015,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,AB,NaN,1550.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,05/01/2015,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,P,NaN,4.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,07/01/2015,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,P,NaN,298.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,12/01/2015,Vente,...,NaN,0,3.0,Dépendance,NaN,0.0,0.0,S,NaN,195.0

In [7]:
cd('../data_sources/valeursfoncieres-2015.txt', '../data_transformed/test_clean_1.csv')

In [11]:
df = pd.read_csv('../data_transformed/test_clean_1.csv', index_col=0)
print(len(df))
df.head()

2750305

,No_disposition,Date_mutation,Nature_mutation,Valeur_fonciere,No_voie,Type_de_voie,Voie,Code_postal,Commune,Code_departement,...,5eme_lot,Surface_Carrez_du_5eme_lot,Nombre_de_lots,Code_type_local,Type_local,Surface_reelle_bati,Nombre_pieces_principales,Nature_culture,Nature_culture_speciale,Surface_terrain
0,2,05/01/2015,Vente,120.0,NaN,NaN,ENTRE LES CHEMINS,1250.0,BOHAS-MEYRIAT-RIGNAT,1,...,NaN,NaN,0,NaN,NaN,NaN,NaN,P,NaN,82.0
1,1,09/01/2015,Vente,12400.0,NaN,NaN,VIGNIEUX,1340.0,JAYAT,1,...,NaN,NaN,0,NaN,NaN,NaN,NaN,AB,NaN,1550.0
2,2,05/01/2015,Vente,110.0,NaN,NaN,ENTRE LES CHEMINS,1250.0,BOHAS-MEYRIAT-RIGNAT,1,...,NaN,NaN,0,NaN,NaN,NaN,NaN,P,NaN,4.0
3,2,07/01/2015,Vente,180.0,NaN,NaN,ENTRE LES CHEMINS,1250.0,BOHAS-MEYRIAT-RIGNAT,1,...,NaN,NaN,0,NaN,NaN,NaN,NaN,P,NaN,298.0
4,1,12/01/2015,Vente,95000.0,5383.0,NaN,LE BOURG,1160.0,PRIAY,1,...,NaN,NaN,0,3.0,Dépendance,0.0,0.0,S,NaN,195.0

In [12]:
from data_processing import clean_data, process_data, concatenate, geo_code

In [ ]:
process_data('../data_sources/valeursfoncieres-2015.txt', '../data_transformed/test_processed_1.csv')

In [ ]:
import time
start_time = time.time()
start = 2015
end = 2019
for i in np.arange(start, end+1):
    source_path = '../data_sources/valeursfoncieres-' + str (i) + '.txt'    
    processed_path = '../data_transformed/'

    clean_data(source_path, processed_path+'cleaned_'+str(i)+'.csv')

print('cleaning completed in ' + time.time()-start_time + ' s')